################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blazor4eCharts/wwwroot/template/Investigation Appendix Template.xlsx
