@page "/imageViewer"
@inject IJSRuntime jsRuntime

<h3>ImgViewer</h3>
<!-- a block container is required -->
<ViewerJS Src="pic/2023090814282682.jpg"></ViewerJS>
<ViewerJS Src="pic/2023090814282682.jpg"></ViewerJS>

