@page "/scanQRcode"

@inject IDialogService DialogService
<h3>scanQRcode</h3>

<MudButton OnClick="OpenDialog"></MudButton>

@code {
    private async Task OpenDialog()
    {

        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<QRScanDialog>("Simple Dialog", options);

    }
}
